.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  text-shadow: 1px 1px 0 var(--color-white), 1px -1px 0 var(--color-white),
    -1px 1px 0 var(--color-white), -1px -1px 0 var(--color-white);
  color: var(--accent-color-black07);
  transition: all 1s;
}

.activeLink {
  text-shadow: 1px 1px 0 orange, 1px -1px 0 orange, -1px 1px 0 orange,
    -1px -1px 0 orange;
}
